<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121306027147-i6h4dmnamjcollnmana30it3rhr5phlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121306027147-i6h4dmnamjcollnmana30it3rhr5phlk</string>
	<key>API_KEY</key>
	<string>AIzaSyCVUKxAHdBPNmoOPulpspK3aPNX_hMGmsE</string>
	<key>GCM_SENDER_ID</key>
	<string>121306027147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-dc455</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-dc455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121306027147:ios:17ba4da17c7661c1dd308e</string>
</dict>
</plist>